[Unit]
Description=My Cloud Agent
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python2.7 /opt/CloudAgent/cmd/service_agent.py
PrivateTmp=false
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
